.container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.input-like {
    width: 400px;
    padding: 10px;
    border: 0.5px solid black;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rotate {
    font-size: 25px;
    cursor: pointer;
}

.cpy-btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    border: none;
    font-weight: 400;
    font-size: 15px;
    min-width: 90px;
    border-radius: 15px;
    padding: 10px;
    background-color: #3cc;
}